@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

body {
    background-color: #131313;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.media-picture {
    height: 400px;
    background-image: url(../img/avengers.jpg);
    background-size: cover;
    background-position: center;
}

.review-score {
    padding: 12px;
    color: white;
    background-color:#e6bd09 ;    
}

h2 {
    color: steelblue;
}

p {
    color: #bdbdbd ;
    font-family: 'Roboto', sans-serif;
}

a {
    color: yellow;
}