* {
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;   
}

.desconto {
    position: absolute;
    width: 2056px;
    height: 61px;
    left: 0px;
    top: 0px;
    
    background: #D1891C;  
}

.faixaAzul {
    position: absolute;
    width: 2056px;
    height: 162px;
    left: 0px;
    top: 60px;
    
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}


main {
display:flex;
flex-direction: column;
}

.cardBatman{
    position: absolute;
    border-radius: 50px;
    
}


.batman-cima{
background-image: url(../img/fundoBatman.png.png);
background-repeat: no-repeat;
position: absolute;
width: 1446px;
height: 492.5px;
left: 148px;
top: 269px;

}

.coracao {
padding-bottom:85px;
padding-left: 20px;

}

.perfil-batman{

border-radius: 80%;
padding-left: 70px;

}



.batman-baixo{
    position: absolute;
    width: 805px;
    height: 872px;
    left: 626px;
    top: 762px;
    
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);



}



